:root {
  --animation-length: 60s;
}

/* UTIL Classes */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* RIPPLE EFFECT */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #e998ab radial-gradient(circle, transparent 1%, #e998ab 1%)
    center/15000%;
}
.ripple:active {
  background-color: #fddbe3;
  background-size: 100%;
  transition: background 0s;
}
/* RIPPLE EFFECT */

/* UTIL Classes */

/*TITLE*/
#Title-title {
  font-size: 3em;
  font-weight: 200;
}

#Title-line {
  width: 400px;
  height: 1px;
  margin: 5px auto;
  border-bottom: 0.5px solid black;
}

#Title-tag-line {
  font-size: 1.5em;
  font-weight: 200;
}

/* TITLE/

/* BUTTON */
#Button-container {
  height: 400px;
  position: relative;
}

#Button-button {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 5px solid #fddbe3;
  transition: border 0.8s;
  background-color: #fddbe3;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 200;
  cursor: pointer;
  outline: none;

  /* Allows animation */
  transition-property: transform;
  transition-duration: var(--animation-length);
  transition-timing-function: ease-in-out;
}

#Button-button:hover {
  background-color: #fdc2d1;
}

#Button-button:disabled {
  color: black;
}

/* BUTTON ANIMATION */
.breathe-in {
  cursor: none;
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

.breathe-out {
  cursor: none;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}
/*BUTTON ANIMATION */

/* BUTTON */

/* SLIDER */
.slidecontainer {
  margin: 0 auto;
  width: 50%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  margin-top: 20px;
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #ececec; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(255, 157, 157); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/** SLIDER **/

#Settings-button {
  cursor: pointer;
  position: absolute;
  text-align: right;
  /*transform: translate(440px, 5px); */
  top: 5px;
  right: 23px;
  font-size: 2.5em;
  color: rgb(185, 185, 185);
  transition: transform 2s;
}

#Settings-button:hover {
  transform: rotate(180deg);
}

/* TESTING */
.grow {
  animation: grow 4s linear forwards;
}

.shrink {
  animation: shrink 4s linear forwards;
}

.load-shrink {
  animation: load-shrink 4s linear forwards;
}

.load-grow {
  animation: load-grow 4s linear forwards;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.9);
  }
}

@keyframes load-shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes load-grow {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.9);
  }

  100% {
    transform: scale(1);
  }
}
